
//- ----------------------------Наследственность
//- extends ../shared/settings/pug/core/_loyaout.pug
extends ../../app/pug/_loyaout.pug
//- ----------------------------Наследственность

//-! -------------------------------------- PART

include ../../shared/components/Contact-details/_Contact-details.pug

//-! -------------------------------------- PART

//-* -------------------------------------HEAD
block settings
  -
    var settings = {
      title: 'Фінансування проектів',
      lang: 'uk',
    }

block connection
  link(rel="stylesheet", href=`${stylesPath}/style.css`)
//-* -------------------------------------HEAD


//-: --------------------------------------BODY

block content

  main.main 
    section.financing
      .financing__container
        h1.financing__title.title Фінансування проектів
        div.financing__body
          p.financing__txt У <strong>UA Center</strong>  ми переконані, що кожна світла ідея має потенціал для фундаментальних змін світу на краще. Наш фонд фінансування проектів створений для тих, хто не просто мріє про масштабні ініціативи, а й готовий перетворити їх на реальність.
          p.financing__txt Якщо ви хороша людина і ваш проект спрямований на створення значущої цінності, здатної покращити життя великої кількості людей або надати ексклюзивні рішення для вузького кола багатих, ви можете точно претендувати на підтримку нашого приватного фонду.
          p.financing__txt Ми особливо зацікавлені у проектах у таких напрямках:
          ul.financing__list 
            li Розробки, які обіцяють прориви у медицині, фармацевтиці та аграрному секторі.
            li Інновації, метою яких є реформування способів нашої взаємодії та обробки інформації.
            li Проекти, спрямовані на покращення ментального благополуччя та доступності послуг у цій галузі.
            li І просто якісний бізнес, який затребуваний на ринках Євросоюзу, США та Індії.
          p.financing__txt У <strong>UA Center</strong> ви знайдете не лише фінансову підтримку, а й друзів однодумців.
        acticle.financing__contacts
          +Contact-details()
            

block scripts
  script(type="module", src=`${scriptPath}/app.js`)
//-: --------------------------------------BODY

