
//- ----------------------------Наследственность
extends ../../app/pug/_loyaout.pug
//- ----------------------------Наследственность

//-! -------------------------------------- PART

include ../../shared/components/Contact-details/_Contact-details.pug

//-! -------------------------------------- PART

//-* -------------------------------------HEAD
block settings
  -
    var settings = {
      title: 'Податкове структурування',
      lang: 'uk',
    }

block connection
  link(rel="stylesheet", href=`${stylesPathPage}/style.css`)
//-* -------------------------------------HEAD


//-: --------------------------------------BODY

block content

  main.main 
    section.tax
      div.tax__container
        h1.tax__title.title Податкове структурування
        div.tax__body 
          p.tax__txt Наше ноу-хау в области налогового структурирования основывается на разумном соответствии действующим законам и стандартам – работаем открыто, платим справедливо! 
          p.tax__txt Мы объединяем локальные и международные налоговые стратегии, минимизируя риски, избегая двойного налогообложения и укрепляя вашу репутацию.
          p.tax__txt С <strong>UA Center</strong> ваша налоговая дисциплина становится инструментом роста и стратегическим преимуществом, а не просто обязательством.
        article.tax__contacts
          +Contact-details()

block scripts
  script(type="module", src=`${scriptPathPage}/app.js`)
//-: --------------------------------------BODY

