
//- ----------------------------Наследственность
//- extends ../shared/settings/pug/core/_loyaout.pug
extends ../../app/pug/_loyaout.pug
//- ----------------------------Наследственность

//-! -------------------------------------- PART
include ../../shared/components/Contact-details/_Contact-details.pug

//-! -------------------------------------- PART

//-* -------------------------------------HEAD
block settings
  -
    var settings = {
      title: 'Government Relations',
      lang: 'uk',
    }
block connection
  link(rel="stylesheet", href=`${stylesPathPage}/style.css`)
//-* -------------------------------------HEAD

//-: --------------------------------------BODY

block content
  main.main
    section.relations
      .relations__container
        h2.relations__title.title GR - взаємодія з державною владою
        .relations__content
          p.relations__text
            | Для того, кто ценит качество и детали, помогаем выстроить грамотные коммуникации с органами власти на местном и глобальном уровнях, путем инновационных практик GR, основанных на международных стандартах, фундаментальных принципах этики и нулевой толерантности к коррупции.
          p.relations__text
            | Наша услуга GR разработана для людей с самыми высокими стандартами
          p.relations__text
            | Благодаря тонкому пониманию политического ландшафта, законодательных изменений и отраслевых особенностей с нами вы всегда на шаг впереди.
          p.relations__text
            | Наш подход подразумевает стратегическое партнерство, которое превосходит традиционное взаимодействие, позволяя бизнесу эффективно навигировать в политическом ландшафте, использовать потенциал на полную и достигать устойчивых результатов
        .relations__contacts 
          +Contact-details()



block scripts
  script(type="module", src=`${scriptPathPage}/app.js`)
//-: --------------------------------------BODY

