
//- ----------------------------Наследственность
//- extends ../shared/settings/pug/core/_loyaout.pug
extends ../../app/pug/_loyaout.pug

//- ----------------------------Наследственность

//-! -------------------------------------- PART

include ../../shared/components/Contact-details/_Contact-details.pug
include ../../widgets/GoogleMaps/_GoogleMaps.pug

//-! -------------------------------------- PART

//-* -------------------------------------HEAD
block settings
  -
    var settings = {
      title: 'Контакти',
      lang: 'uk',
    }

block connection
  link(rel="stylesheet", href=`${stylesPathPage}/style.css`)
//-* -------------------------------------HEAD


//-: --------------------------------------BODY

block content

  main.main 
    section.contacts 
      .contacts__container
        .contacts__content
          .contacts__maps
            +GoogleMaps()
            //- .contacts__maps-inner
            //-     .map-preloader#map-preloader 
            //-     <iframe id="map-frame" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2482.4223068555516!2d-0.1582644271815805!3d51.52381367476573!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x48761acf33628211%3A0x445d7677a88322e1!2zMjIxQiBCYWtlciBTdCwgTG9uZG9uIE5XMSA2WEUsINCS0LXQu9C40LrQvtCx0YDQuNGC0LDQvdC40Y8!5e0!3m2!1sru!2sua!4v1723925901081!5m2!1sru!2sua" style="" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
          .contacts__details
            +Contact-details()


block scripts
  script(type="module", src=`${scriptPathPage}/app.js`)
//-: --------------------------------------BODY

