
//- ----------------------------Наследственность
extends ../../app/pug/_loyaout.pug
//- ----------------------------Наследственность

//-! -------------------------------------- PART

include ../../shared/components/Contact-details/_Contact-details.pug

//-! -------------------------------------- PART

//-* -------------------------------------HEAD
block settings
  -
    var settings = {
      title: 'Безпека бізнесу',
      lang: 'uk',
    }

block connection
  link(rel="stylesheet", href=`${stylesPath}/style.css`)
//-* -------------------------------------HEAD


//-: --------------------------------------BODY

block content

  main.main 
    section.safety
      div.safety__container
        h1.safety__title.title Безпека бізнесу
        div.safety__body 
          p.safety__txt В <strong>UA Center</strong> ми розуміємо, що безпека бізнесу – це не просто захист активів, але і гарантія стабільності та розвитку в умовах економічної нестійкості та активної конкурентної боротьби. 
          p.safety__txt Ми завжди готові надати підтримку хорошій людині, тут ви знайдете надійного партнера, який допоможе вашому бізнесу не тільки виживати, але і процвітати
          p.safety__txt Ми допомагаємо нівелювати потенційні загрози і сосредоточиться на тому, що дійсно важливо — на зростанні і розвитку компанії в будь-яких умовах.
          p.safety__txt &laquo;Коли б'ють по одному чесному обличу — всі чесні особи повинні відчувати і біль, і негодування, і муку попраного людського достоїнства&raquo;
        article.safety__contacts
          +Contact-details()

block scripts
  script(type="module", src=`${scriptPath}/app.js`)
//-: --------------------------------------BODY

