
include ./components/_HeaderMenu.pug
include ../../shared/components/ToggleTheme/_ToggleTheme.pug


mixin Header()
  -
    const menu = [
      {
        text: 'Головна',
        href: 'index.html',
      },
      {
        text: 'GR на всіх рівнях',
        href: 'relations.html',
      },
      {
        text: 'Безпека бізнесу',
        href: 'safety.html',
      },
      {
        text: 'Податкове структурування',
        href: 'Tax.html',
      },
      {
        text: 'Фінансування проектів',
        href: 'financing.html',
      },
      {
        text: 'Міжнародне резидентство',
        href: 'international.html',
      },
      {
        text: 'Про нас',
        href: 'about.html',
      },
      {
        text: 'Контакти',
        href: 'contacts.html',
      },

    ]
  -

  header.header.fixed-element
    .header__container
      a(href="index.html").header__logo.dark-theme
        .logo <span>U</span><span>A</span> Center 

      .header__menu
        +ToggleTheme()
        +_HeaderMenu(menu)
